@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Kristi);
@import url(https://fonts.googleapis.com/css?family=Anton);

* { 
  box-sizing: content-box; 
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  font-family: 'Quicksand';
}

#scroll {
  position: fixed;
  opacity: 0.6;
  top: 10px;
  right: 20px;
  color: tomato;
  font-weight: 700;
  font-size: 1.5em;
}

#landing {
  background-color: white;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#left-pane, #right-pane {
  position: relative;
  height: 100%;
}

.emphasis { font-family: 'Kristi'; }


/***********************/
/*  LEFT PANE STYLING  */
/***********************/

#left-pane {
  min-width: 350px;
  font: 1.75em 'Quicksand';
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hi {
  position: absolute;
  color: rgb(198,203,214);
  font: 4em 'Quicksand';
  line-height: 0.7;
}

.big {
  font-size: 2.3em;
  line-height: 0.7;
  color: tomato;
}

#intro {
  position: relative;
  text-align: right;
  margin: 0 auto;
  width: 86%;
}

#icons {
  color: tomato;
  text-align: center;
}

.arrow {
  color: tomato;
  font-size: 1em;
  text-align: right;
  z-index: 0;
}

li {
  list-style-type: none;
  text-align: left;
  font-size: 0.75em;
}

/************************/
/*  RIGHT PANE STYLING  */
/************************/

#right-pane {
  right: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#content { 
  position: relative;
  height: 100%;
  width: 100%;
  text-align: left; 
}

h3 {
  font: 2.1em 'Anton';
  color: rgb(97,104,123);
  text-decoration: none;
}

.desc {
  font-size: 1.35em;
  /*font-weight: 700;*/
  color: rgb(255,114,89);
  margin-left: -10px;
  line-height: 0.8;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}

.project {
  position: absolute;
  height: 105%;
  width: 8px;
  /*background-color: rgb(238,212,223);*/
  background-color: rgb(198,203,214);
  margin: 0 114px;
}

.project::after {
  color: rgb(198,203,214);
  display: inline-block;
  margin: 10px 0 0 10px;
  font-size: 1.15em;
  width: 100px;
  white-space: pre;
}


.circle, .circle::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 8px solid rgb(198,203,214);
  height: 200px;
  width: 200px;
  margin-left: -105px;
}

.circle {  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  cursor: pointer;
}

.circle::before {
  content: "Let's go!";
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: rgba(0,0,0,0.65);*/
  background-color: rgba(77,83,108,0.65);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.circle:hover::before {
  opacity: 1;
}


/*.project, .circle {
  box-shadow: -3px -2px 0px rgba(255,114,89, 0.4);
}*/

.fa-github {
  color: rgb(139,149,162);
}

.fa-github:hover {
  color: rgba(255,114,89, 0.5);
}

#git {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(198,203,214);
  height: 41px;
  width: 41px;
  margin: 0 0 0 -16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.description {
  position: absolute;
  top: 0;
  width: 214px;
  margin: -40px 0 0 -105px;
  text-align: center;
}

.description p {
  text-align: center;
  font-size: 0.8em;
}

.p1 { margin: 205px 0 0 205px; transform: rotate(-15deg); }
.p1::after { content: 'D3.js\A Express\A Node.js\A MongoDB';}
.p1 .description { transform: rotate(15deg); margin-left: -75px; margin-top: -38px; }

.p2 { margin: 100px 0 0 365px; }
.p2::after { content: 'Ruby\A Rails\A PostgreSQL';}
/*.p2 .description { margin-left: -95px; }*/

.p3 { margin: 150px 0 0 545px; transform: rotate(15deg); }
.p3::after { content: 'D3.js\A MEAN Stack';}
.p3 .description { transform: rotate(-15deg); margin-left: -135px; margin-top: -37px;}

.p4 { margin: 295px 0 0 935px; transform: rotate(-15deg);}
.p4::after { content: 'Express\A Node.js\A MongoDB';}
.p4 .description { transform: rotate(15deg); margin-left: -75px;  margin-top: -38px;}

.p5 { margin: 230px 0 0 1090px; }
.p5::after { content: 'AngularJS\A Ruby\A Rails\A PostgreSQL';}
/*.p5 .description { transform: rotate(-15deg); margin-left: -135px; }*/

.p6 { margin: 345px 0 0 1245px; transform: rotate(15deg); }
.p6::after { content: 'HTML\A CSS\A JS';}
.p6 .description { transform: rotate(-15deg); margin-left: -135px; margin-top: -37px; }


#space-rocks {
  background-image: url('../images/space-rocks.gif');
}

#wait-mate {
  background-image: url('../images/waitmate.gif');
}

#feel-trip {
  background-image: url('../images/feel-trip.gif');
}

#cheese-wheel {
  background-image: url('../images/cheese-wheel.gif');
}

#sit-stay {
  background-image: url('../images/sit-stay.gif');
}

#hi, .arrow, #key span.emphasis, .circle::before {
  font-weight: 700;
}

#droid-finder {
  background-image: url('../images/droid-finder.gif');
}

/************************/
/*     MEDIA QUERIES    */
/************************/

@media all and (max-width:770px) {

  h3 {
    font-size: 2.4em;
    margin-top: 10px;
  }

  #scroll {
    display: none;
  }
  #landing {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

 .project, .project .description, .circle::before, #git { margin: 0 auto; }

  #left-pane, #right-pane, .project {
    position: relative;
    min-width: initial;
    float: left;  
  }

  #left-pane, #right-pane {
    width: 100%;
  }

  .project {
    width: 50%;
  }

  .project::after {
   display: none;
  }

  #left-pane {
    flex-direction: row;
    font-size: 1.3em;
    height: 170px;
  }

  #icons {
    position: absolute;
    color: rgb(97,104,123);
    top: 50%;
    left: 9.5%;
  }

  #intro {
   width: 100%;
   padding: 0 15% 0 7%;
  }

 /* #right-pane, #content {
    overflow-y: scroll;
    overflow-x: hidden;
  }*/

  #right-pane {
    overflow: visible;
  }

  #content {
    margin: 0 auto 170px;
  }
  
  .arrow {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100vw;
    transform: rotate(90deg);
    top: -65px;
    right: 3%;
  }

  .project {
    background-color: transparent;
    height: 275px;
  }

  .project, .project .description, .circle {
    transform: rotate(0deg);
    text-align: center;
    box-shadow: none;
  }
  .project .description{
    width: 100%;
  }

  .circle {
    margin: 55px auto 0;
  }
  .circle::before {
    top: -8px;
    left: -8px;
  }

  #git {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
  }

}


@media all and (max-width:460px) {
  .project {
    width: 100%;
  }
}



